html 
{
   background-image:url(https://gradients.app/download/143)
}

header 
{
   background-image:url(https://gradients.app/download/141);
   
}

#name 
{
   vertical-align:middle;
   text-align: center;
}

#logo 
{
   weight:100px;
   height:100px;
}


nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.vse 
{
   max-width:800px;
   margin: 0 auto;
   margin-top:20px;
   padding:10px;
}


}

tr.colorr 
{
  background:#F0CCE8;
}

table 
{
  background: #D190C3;
}

ol 
{
   font-size: 12pt;
}


.page :nth-child(1)
{
  order: 1;
}
.page :nth-child(3)
{
  order: 2;
}

.page :nth-child(2)
{
  order: 3;
}


@media screen and (min-width: 800px) and (orientation: landscape) 
{
  .header {
    flex-direction: row;
  }
nav 
{
    text-align: center;
}


.page :nth-child(1)
{
  order: 1;
}
  .page :nth-child(2)
{
    order: 2;
}

  .page :nth-child(3)
{
    order: 3;
}

}